@import url('https://fonts.googleapis.com/css2?family=Lilex:ital,wght@0,100..700;1,100..700&display=swap');

#root {
  max-width: 100vw;
  padding: 0;
  margin: 0;
  ::-webkit-scrollbar { width: 6px; cursor: pointer; }
  

}
body, #root {
  max-width: 100vw;
  overflow-x: hidden;
}
.main-app-dark{
  width: 100vw;
  display: flex;
  margin-top: 70px;
  flex-direction: column;
  background-color: #121212;
  color: #b388ff;
  ::-webkit-scrollbar-track { background: #202020; }
  ::-webkit-scrollbar-thumb { background: #7c3aed; border-radius: 10px; }
  ::-webkit-scrollbar-thumb:hover { background: #5a1ea6;}
}
.main-app-light{
  width: 100vw;
  display: flex;
  margin-top: 70px;
  flex-direction: column;
  background-color: #fdf6e3;
  color: #121212;
  ::-webkit-scrollbar-track {
      background: #f5edd7; 
    }

    ::-webkit-scrollbar-thumb {
      background: #d6c9a8; 
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #c2b48e;
    }
}
.components {
  width: 60%;
  min-height: 100vh;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: inherit;
  color: inherit;
}

.navbar{
  width: 100%;
  padding: 1rem;
  margin: 0;
}

.summary-container{
  flex-direction: column;
  color: #fff;
}
.btn-container,
.summary-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    gap: 1rem;
    background: none;
    box-shadow: none;
    border-radius: 16px;
    padding: 16px;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 20px;
    flex-wrap: wrap;
}
.btn-container-dark,.summary-container-dark{
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.15);
}
.btn-container-light,.summary-container-light{
    background: linear-gradient(135deg, #b8d5f8, #73a9ec, #71aff7);
    box-shadow: 0 10px 30px rgba(59, 130, 246, 0.35);
    color: #121212;
    
}
.textAreaHeading{
    font-size: 1.3rem;
    padding: 1rem;
    cursor: pointer;
    font: optional;
    font-family:  "Lilex", monospace;
}
.stats{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.reader{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.stat{
  text-align: center;
  flex-wrap: wrap;
}

input.form-control,
textarea.form-control {
  background-color: inherit;
  border-color: #2a2a2a;
}
textarea.form-control {
  border: 2px solid #2a2a2a;
}


input.form-control::placeholder,
textarea.form-control::placeholder {
  color: #9e9e9e;
}


textarea.form-control:focus {
  background-color: inherit;
  color: #ffffff;
  border-color: #86b7fe;
  box-shadow: 0 0 1rem 0.55rem rgba(13,110,253,.25);
}


textarea.form-control {
  resize: vertical;  
}
.custom-toast {
  backdrop-filter: blur(8px);
  box-shadow: 0 10px 30px rgba(155, 155, 155, 0.2);
  animation: slideFade 0.5s ease forwards;
}

@keyframes slideFade {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.preview-text {
  line-height: 1.7;
  opacity: 0.8;
}
.toggle-container{
  margin-left: 1rem;
}
.theme-btn{
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 50%;
}
